/* 自定义 CodeMirror 容器样式 */
.cee-codemirror2 {
  width: 100%;
  max-width: 310px;
  max-height: 360px;
}
.cee-codemirror2 .CodeMirror.cm-s-default {
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  /* 添加其他你希望的样式 */
}

/* 自定义 CodeMirror 内部滚动样式 */
.cee-codemirror2  .CodeMirror {
    width: 100%;
    max-width: 310px;
    min-height: 218px !important;
    max-height: 320px !important;
}
